In [46]:
import numpy as np
import matplotlib.pyplot as plt

In [48]:
A = np.array([1,2,3])
A.shape

(3,)

In [50]:
q = np.round(10.1)
for i in range(-q, q+1):
    print(i)

TypeError: 'numpy.float64' object cannot be interpreted as an integer

In [51]:
q

10.0

In [52]:
A = np.zeros(3)
B = np.zeros(3)

In [54]:
C = [A,B]

In [55]:
type(C)

list

In [56]:
import pandas as pd

In [57]:
pd.DataFrame([A,B])

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0

In [58]:
pd.DataFrame(A)

     0
0  0.0
1  0.0
2  0.0

In [ ]:
pd.DataFrame(A)